# Pandas DataFrame Part 2

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'Y', 'X', 'Z'])

In [5]:
df

          W         Y         X         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
df > 0

       W      Y      X      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [7]:
df['X + Y'] = df.X + df.Y

In [8]:
df

          W         Y         X         Z     X + Y
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [9]:
bool_df = df > 0

In [10]:
bool_df

       W      Y      X      Z  X + Y
A   True   True   True   True   True
B   True  False  False   True  False
C  False   True   True  False   True
D   True  False  False   True  False
E   True   True   True   True   True

In [11]:
df[bool_df]

          W         Y         X         Z     X + Y
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118       NaN       NaN  0.605965       NaN
C       NaN  0.740122  0.528813       NaN  1.268936
D  0.188695       NaN       NaN  0.955057       NaN
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [14]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [20]:
boolser = df['W'] > 0

In [21]:
result = df[boolser]

In [22]:
mycols = ['Y', 'X']

In [23]:
result[mycols]

          Y         X
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [24]:
df

          W         Y         X         Z     X + Y
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [25]:
df.reset_index(drop=True)

          W         Y         X         Z     X + Y
0  2.706850  0.628133  0.907969  0.503826  1.536102
1  0.651118 -0.319318 -0.848077  0.605965 -1.167395
2 -2.018168  0.740122  0.528813 -0.589001  1.268936
3  0.188695 -0.758872 -0.933237  0.955057 -1.692109
4  0.190794  1.978757  2.605967  0.683509  4.584725

In [26]:
df

          W         Y         X         Z     X + Y
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [27]:
newind = ['S', 'A', 'N', 'G', 'H']

In [28]:
newind = 'S A N G H'.split()

In [29]:
newind

['S', 'A', 'N', 'G', 'H']

In [30]:
df['State'] = newind

In [31]:
df

          W         Y         X         Z     X + Y State
A  2.706850  0.628133  0.907969  0.503826  1.536102     S
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395     A
C -2.018168  0.740122  0.528813 -0.589001  1.268936     N
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109     G
E  0.190794  1.978757  2.605967  0.683509  4.584725     H

In [32]:
df.set_index('State')

              W         Y         X         Z     X + Y
State
S      2.706850  0.628133  0.907969  0.503826  1.536102
A      0.651118 -0.319318 -0.848077  0.605965 -1.167395
N     -2.018168  0.740122  0.528813 -0.589001  1.268936
G      0.188695 -0.758872 -0.933237  0.955057 -1.692109
H      0.190794  1.978757  2.605967  0.683509  4.584725