# DataFrame Part 3

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
#Index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
pd.MultiIndex.from_tuples(hier_index)

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [6]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [7]:
df

             A         B
G1 1  0.818958  1.608366
   2 -0.550821  1.564955
   3 -0.669236  0.696127
G2 1  1.351419 -1.995194
   2  0.027672 -0.291490
   3  2.433636  0.462986

In [10]:
df.index.names

FrozenList([None, None])

In [11]:
df.index.names = ['Groups', 'Num']

In [12]:
df

                   A         B
Groups Num
G1     1    0.818958  1.608366
       2   -0.550821  1.564955
       3   -0.669236  0.696127
G2     1    1.351419 -1.995194
       2    0.027672 -0.291490
       3    2.433636  0.462986

In [13]:
df.loc['G2'].loc[2]['B']

-0.2914898400481288

In [14]:
df.loc['G1'].loc[3]['A']

-0.6692361385757761

In [15]:
df

                   A         B
Groups Num
G1     1    0.818958  1.608366
       2   -0.550821  1.564955
       3   -0.669236  0.696127
G2     1    1.351419 -1.995194
       2    0.027672 -0.291490
       3    2.433636  0.462986

In [16]:
df.xs('G1')

            A         B
Num
1    0.818958  1.608366
2   -0.550821  1.564955
3   -0.669236  0.696127

In [ ]:
df.xs('')