# Operations-Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:

df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [4]:
df.col2.unique()

array([444, 555, 666], dtype=int64)

In [5]:
df.col1.unique()

array([1, 2, 3, 4], dtype=int64)

In [6]:
df.col3.unique()

array(['abc', 'def', 'ghi', 'xyz'], dtype=object)

In [7]:
df.col2.value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [8]:
def time2(x):
    return x*2

In [9]:
df.col3.apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [10]:
df.col2.apply(time2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [11]:
df.col2.apply(lambda x: x*2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [12]:
df.col2

0    444
1    555
2    666
3    444
Name: col2, dtype: int64

In [13]:
df.col2 = df.col2.apply(time2)

In [14]:
df

   col1  col2 col3
0     1   888  abc
1     2  1110  def
2     3  1332  ghi
3     4   888  xyz

# Advance

In [20]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,7,1]}

df = pd.DataFrame(data)

In [21]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  7
5  bar  one  y  1

In [22]:
df.pivot_table(values='D', index=['A', 'B'], columns=['C'])

C          x    y
A   B
bar one  7.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN